In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="white", palette="muted", color_codes=True)
from sklearn.metrics import mean_squared_error

In [27]:
data_path = f"data"
data = pd.read_csv(f"{data_path}/data.csv")
data

         ticker        date        last    volume
0       1332 JT  2013-01-04    169.0987   1464100
1       1332 JT  2013-01-07    166.3266   1783500
2       1332 JT  2013-01-08    166.3266   1759800
3       1332 JT  2013-01-09    165.4026    767800
4       1332 JT  2013-01-10    167.2507   1503100
...         ...         ...         ...       ...
451108  9984 JT  2021-03-15  10370.0000  12041200
451109  9984 JT  2021-03-16  10620.0000  11346000
451110  9984 JT  2021-03-17  10400.0000   9771000
451111  9984 JT  2021-03-18  10220.0000  13941600
451112  9984 JT  2021-03-19   9969.0000  20715700

[451113 rows x 4 columns]

In [6]:
date = data.groupby(f"date")["ticker"].count()
date

date
2013-01-04    225
2013-01-07    225
2013-01-08    225
2013-01-09    225
2013-01-10    225
             ...
2021-03-15    225
2021-03-16    225
2021-03-17    225
2021-03-18    225
2021-03-19    225
Name: ticker, Length: 2005, dtype: int64

In [16]:
price = data.pivot(index='date', columns='ticker', values='last')
price

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,169.0987,NaN,147.8887,970.6780,950.5521,1232.0186,413.2189,278.1162,NaN,478.8201,...,847.8471,1727.7597,1332.1473,1367.1194,487.5256,567.3170,3719.2396,1721.7623,20584.8363,1482.3931
2013-01-07,166.3266,NaN,144.9890,960.1615,924.2187,1236.1949,411.5426,278.1162,NaN,480.4769,...,804.2336,1744.7820,1327.9713,1364.4123,475.2036,594.1617,3732.0499,1695.8510,21150.4557,1453.9312
2013-01-08,166.3266,NaN,144.9890,955.9548,938.6596,1215.3132,407.3517,277.2709,NaN,473.8496,...,795.5109,1761.8042,1340.4993,1377.0457,470.5604,585.2135,3736.3199,1627.9455,21243.1802,1472.9058
2013-01-09,165.4026,NaN,144.9890,944.3866,945.4553,1240.3712,417.4098,278.9616,NaN,482.1337,...,780.6823,1766.0598,1336.3233,1440.2130,479.3109,631.7442,3757.6703,1612.7561,21159.7281,1442.0720
2013-01-10,167.2507,NaN,144.9890,942.2833,943.7564,1252.9002,435.0114,284.8789,NaN,490.4178,...,810.3395,1757.5487,1340.4993,1516.0136,481.9896,619.2167,3791.8310,1568.9749,20918.6445,1442.0720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-15,560.0000,2718.0,NaN,826.0000,3330.0000,4240.0000,1014.0000,921.0000,1509.0,1585.0000,...,1206.0000,2375.5000,2122.0000,4275.0000,1767.0000,NaN,9726.0000,7090.0000,95390.0000,10370.0000
2021-03-16,559.0000,2713.0,NaN,828.0000,3320.0000,4255.0000,1027.0000,928.0000,1540.0,1594.0000,...,1208.5000,2407.5000,2137.0000,4410.0000,1748.0000,NaN,9694.0000,7200.0000,95190.0000,10620.0000
2021-03-17,561.0000,2732.0,NaN,808.0000,3400.0000,4220.0000,1007.0000,909.0000,1553.0,1558.0000,...,1193.0000,2450.0000,2150.0000,4335.0000,1764.0000,NaN,9680.0000,7200.0000,96000.0000,10400.0000
2021-03-18,565.0000,2740.0,NaN,812.0000,3455.0000,4300.0000,1028.0000,921.0000,1605.0,1581.0000,...,1199.5000,2442.5000,2162.0000,4340.0000,1770.0000,NaN,9700.0000,7110.0000,96930.0000,10220.0000
2021-03-19,567.0000,2725.0,NaN,796.0000,3455.0000,4345.0000,1054.0000,926.0000,1664.0,1600.0000,...,1218.0000,2466.0000,2167.0000,4320.0000,1723.0000,NaN,9594.0000,6850.0000,91020.0000,9969.0000

In [67]:
price.to_csv(f"{data_path}/price.csv")

In [18]:
rtn = price.pct_change()
rtn

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-07,-0.016393,NaN,-0.019607,-0.010834,-0.027703,0.003390,-0.004057,0.000000,NaN,0.003460,...,-0.051440,0.009852,-0.003135,-0.001980,-0.025275,0.047319,0.003444,-0.015049,0.027477,-0.019200
2013-01-08,0.000000,NaN,0.000000,-0.004381,0.015625,-0.016892,-0.010183,-0.003039,NaN,-0.013793,...,-0.010846,0.009756,0.009434,0.009259,-0.009771,-0.015060,0.001144,-0.040042,0.004384,0.013051
2013-01-09,-0.005555,NaN,0.000000,-0.012101,0.007240,0.020619,0.024691,0.006098,NaN,0.017483,...,-0.018640,0.002415,-0.003115,0.045872,0.018596,0.079511,0.005714,-0.009330,-0.003928,-0.020934
2013-01-10,0.011173,NaN,0.000000,-0.002227,-0.001797,0.010101,0.042169,0.021212,NaN,0.017182,...,0.037989,-0.004819,0.003125,0.052632,0.005589,-0.019830,0.009091,-0.027147,-0.011394,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-15,0.005386,0.005549,0.000000,0.004866,0.003012,0.016787,0.011976,0.019934,0.020974,0.004436,...,0.022901,0.012143,0.014825,0.013033,0.009138,0.000000,0.012598,-0.039295,0.007286,-0.024918
2021-03-16,-0.001786,-0.001840,0.000000,0.002421,-0.003003,0.003538,0.012821,0.007600,0.020543,0.005678,...,0.002073,0.013471,0.007069,0.031579,-0.010753,0.000000,-0.003290,0.015515,-0.002097,0.024108
2021-03-17,0.003578,0.007003,0.000000,-0.024155,0.024096,-0.008226,-0.019474,-0.020474,0.008442,-0.022585,...,-0.012826,0.017653,0.006083,-0.017007,0.009153,0.000000,-0.001444,0.000000,0.008509,-0.020716
2021-03-18,0.007130,0.002928,0.000000,0.004950,0.016176,0.018957,0.020854,0.013201,0.033484,0.014763,...,0.005448,-0.003061,0.005581,0.001153,0.003401,0.000000,0.002066,-0.012500,0.009688,-0.017308
2021-03-19,0.003540,-0.005474,0.000000,-0.019704,0.000000,0.010465,0.025292,0.005429,0.036760,0.012018,...,0.015423,0.009621,0.002313,-0.004608,-0.026554,0.000000,-0.010928,-0.036568,-0.060972,-0.024560

In [23]:
rtn.to_csv(f"{data_path}/rtn.csv")

In [65]:
volume = data.pivot(index='date', columns='ticker', values='volume')
volume

ticker,1332 JT,1333 JT,1334 JT,1605 JT,1721 JT,1801 JT,1802 JT,1803 JT,1808 JT,1812 JT,...,9503 JT,9531 JT,9532 JT,9602 JT,9613 JT,9681 JT,9735 JT,9766 JT,9983 JT,9984 JT
date,,,,,,,,,,,,,,,,,,,,,
2013-01-04,1464100.0,NaN,1553000.0,5312400.0,816600.0,2254000.0,6232000.0,3940000.0,NaN,5406500.0,...,11514100.0,2685000.0,1988200.0,482800.0,3148000.0,1114500.0,800500.0,1513200.0,587300.0,12023000.0
2013-01-07,1783500.0,NaN,1419000.0,3724400.0,1464400.0,3452200.0,6580000.0,5511000.0,NaN,6470000.0,...,8334600.0,2401200.0,1495200.0,458000.0,4289000.0,2862000.0,688400.0,1841700.0,980700.0,13892400.0
2013-01-08,1759800.0,NaN,869000.0,5019600.0,929800.0,3918400.0,6019000.0,5139000.0,NaN,4849000.0,...,6308100.0,2478000.0,1598800.0,635200.0,4065500.0,1620000.0,760300.0,2582000.0,616800.0,10749800.0
2013-01-09,767800.0,NaN,654000.0,6668800.0,663000.0,2350800.0,5745000.0,7800000.0,NaN,4401000.0,...,7645400.0,2897200.0,1827800.0,1122300.0,3283500.0,3021500.0,848200.0,2015400.0,633900.0,11551600.0
2013-01-10,1503100.0,NaN,661000.0,6485200.0,665000.0,2702000.0,10200000.0,5293000.0,NaN,5215000.0,...,17785700.0,3939400.0,2882200.0,1014300.0,3900000.0,1099000.0,635100.0,3119100.0,588100.0,8860200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-15,1537500.0,191100.0,NaN,10291600.0,570800.0,853900.0,2113000.0,2248100.0,2557000.0,1436200.0,...,2683400.0,1372900.0,1284500.0,271400.0,5256200.0,NaN,514900.0,547800.0,619200.0,12041200.0
2021-03-16,1594200.0,151100.0,NaN,9195200.0,532000.0,747700.0,2581500.0,2788200.0,2204800.0,1673900.0,...,3889200.0,1606800.0,1531800.0,527100.0,3727400.0,NaN,575000.0,453100.0,495500.0,11346000.0
2021-03-17,1328200.0,169400.0,NaN,10094800.0,530300.0,596900.0,3222500.0,2746000.0,1794500.0,2005300.0,...,3784600.0,1406800.0,964800.0,343900.0,3424800.0,NaN,428200.0,338500.0,421900.0,9771000.0
2021-03-18,1421200.0,155300.0,NaN,9579300.0,636100.0,813200.0,3015600.0,2221500.0,3104200.0,1684000.0,...,3194700.0,1647800.0,1222600.0,284500.0,3729700.0,NaN,485600.0,501700.0,678300.0,13941600.0
2021-03-19,2197500.0,395800.0,NaN,18949400.0,649900.0,1309500.0,5930300.0,4223300.0,11399100.0,2885800.0,...,7777900.0,2931300.0,2216700.0,488200.0,7315700.0,NaN,820300.0,870300.0,1542800.0,20715700.0

In [66]:
volume.to_csv(f"{data_path}/volume.csv")